<div class="ui small inverted menu">
  <div class="ui container">
    <%= link_to "Chatroom", root_path, class: "item"%>
    <a class="item">
    Messages
    </a>
    <div class="right menu">
    <div class="ui dropdown item">
      Account <i class="dropdown icon"></i>
      <div class="menu">
        <% if current_user %>
          <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class: "item" %>
          <%= link_to "MY ACCOUNT", edit_user_registration_path, class: "item" %>
        <% else %>
          <%= link_to "LOG IN", new_user_session_path, class: "item" %>
          <%= link_to "SIGN UP", new_user_registration_path, class: "item"  %>
        <% end %>
      </div>
    </div>
    <div class="item">
        <%= link_to "SIGN UP", new_user_registration_path, class: "ui primary button" %>
    </div>
    </div>
  </div>
</div>
